bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
src/SummitDiary.Web/diary.db

src/SummitDiary.Web/diary.db-shm

src/SummitDiary.Web/diary.db-wal

src/SummitDiary.Web/files/
src/SummitDiary.Web/files/gpx/

src/SummitDiary.Web/out/
